.body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}

.logo-link .text-link-span {
  color: #2e2f42;
}

.link {
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  color: #2e2f42;
  font-style: normal;
  letter-spacing: 0.02em;
}
.contacts {
  font-style: normal;
}
.link-contacts {
  line-height: 1.5;
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em;
}
.link:focus .link:active,
.link:hover,
.link-contacts:hover,
.link-contacts:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
}
.main-title {
  font-weight: 700;
  line-height: 1;
  font-size: 56px;
  color: #ffffff;
  text-align: center;
}
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}
.section-title {
  color: #2e2f42;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}
.subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20;
}
.our-team {
  background-color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.footer .logo-link {
  color: #f4f4fd;
}
/* font-family: "Raleway", serif;
font-family: "Roboto", serif; */
