.body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}

.logo-link .text-link-span {
  color: #2e2f42;
}

.link {
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  color: #2e2f42;
  font-style: normal;
  letter-spacing: 0.02em;
}
.contacts {
  font-style: normal;
}
.link-contacts {
  line-height: 1.5;
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em;
}
.link:active,
.link:focus,
.link:hover,
.link-contacts:hover,
.link-contacts:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
}
.main-title {
  font-weight: 700;
  line-height: 1.07;
  font-size: 56px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
}
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.section-title {
  color: #2e2f42;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
}

.subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.our-team {
  background-color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
}
.logo-link-foot {
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
.text-link-span-foot {
  color: #f4f4fd;
}
.text-footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.text {
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
}
.card {
  background-color: #fff;
}
/* font-family: "Raleway", serif;
font-family: "Roboto", serif; */
